pkgbase = btrfs-scrub-script
	pkgdesc = BTRFS Regular Maintenance Script
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/Laura7089/btrfs-scrub-script
	arch = any
	license = Apache-2.0
	depends = bash
	depends = btrfs-progs
	depends = inn
	depends = upower
	provides = btrfs-scrub-script
	conflicts = btrfs-scrub-script
	source = btrfs-scrub.sh
	source = btrfs-scrub.service
	sha256sums = 3cba79a3be9d6ce335b363b4c07027cf1baebff8aea354735fa94a8e02c5207e
	sha256sums = 5ff71f035858ee9531ef51ccb64b398e8f28051c8ba25188b9e09b3f0ea5e2c9

pkgname = btrfs-scrub-script
