pkgbase = btrfs-scrub-script
	pkgdesc = BTRFS Regular Maintenance Script
	pkgver = 0.5.0
	pkgrel = 1
	url = https://github.com/Laura7089/btrfs-scrub-script
	arch = any
	license = Apache-2.0
	depends = bash
	depends = btrfs-progs
	depends = util-linux
	depends = upower
	provides = btrfs-scrub-script
	conflicts = btrfs-scrub-script
	source = btrfs-scrub.sh
	source = btrfs-scrub.service
	sha256sums = c8581d6541f299a4782f0b72d793d2813f6adb89bfbe3672d40f38ecead8b7a2
	sha256sums = 5ff71f035858ee9531ef51ccb64b398e8f28051c8ba25188b9e09b3f0ea5e2c9

pkgname = btrfs-scrub-script
